<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <section class="form">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <form method="POST" action="/">
            <h3>ENTRE EM CONTATO</h3>
            <input type="text" placeholder="Digite seu nome" name="Nome" id="">
            <input type="text" placeholder="Digite seu email" name="email" id="">
            <textarea name="Mensagem" placeholder="Digite sua mensagem" cols="" rows="10"></textarea>
            <button>Enviar</button>
        </form>
    </section>
    <%- include('shared/footer') %>
</body>
</html>